{% extends '@Layout/Base/base.html.twig' %}

{% block body %}
    <div class="login-box">
        <div class="login-logo">
            <b>B&T</b> Planning
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Définissez votre mot de passe</p>
            {{ form_start(form) }}
            <div class="form-group has-feedback">
                {{ form_widget(form.phoneToken, {'attr': {'placeholder': 'Code de vérification'}}) }}
                <span class="fa fa-mobile-alt form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Votre mot de passe'}}) }}
                <span class="fa fa-key form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Confirmer votre mot de passe'}}) }}
                <span class="fa fa-key form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Confirmer</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>
{% endblock body %}